.header {
    display: flex;
    font-size: 2em;
    margin: 2% 5% 2% 2%;
    flex-direction: row;
    border-width: 2%;
    border-bottom-style: outset;
    justify-content: space-between;
}

.website-title {
    display: flex;
    text-align: center;
    flex-grow: 3;
}

.website-title-text {
    margin: 0% 0% 0% 5%;
}

.topnews-title {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: none;
}

.menu-list ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    font-size: 1em;
    margin: 0% 2% 0% 0%;
}

a {
    text-decoration: none;
    color: black;
}

.breaking-news {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    margin: 0 auto;
}

.breaking-news-image {
    margin: 0% 2% 0% 2%;
    width: 95%;
    height: 50vmin;
}

.breaking-news img {
    vertical-align: middle;
    object-fit: cover;
}

.breaking-news-msg {
    display: flex;
    flex-direction: column;
    margin: 0% 0% 0% 2%;
    font-size: 1em;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    background: rgba(256, 256, 256);
    opacity: 0.5;
    color: rgba(0, 0, 0, 0.7);
    width: 93%;
    padding: 1%;
}

.topnews {
    display: flex;
    flex-direction: column;
    margin: 0% 2% 0% 2%;
}

.topnews-title,
.latest-news-title {
    display: flex;
    white-space: nowrap;
    margin: 2% 2% 2% 2%;
    padding: 0% 0% 1% 0%;
    border-width: 0.1em;
    border-bottom-style: outset;
}

.topnews-title,
.latest-news-title>div {
    text-align: end;
}

.news-title-text,
.weather-info-place {
    font-size: 1.2em;
    text-align: left;
}

.news-title-text-more,
.weather-info-status {
    font-size: 1em;
    flex-grow: 8;
}

.topnews-list {
    margin: 2%;
}

.topnews-list div {
    display: flex;
    flex-direction: column;
    border-width: 0.1em;
    border-bottom-style: outset;
    padding: 2% 0% 2% 0%;
}

.teamscore-list {
    margin: 3%
}

.teamscore-list th {
    opacity: 0.5;
}

.teamscore-list td,
.teamscore-list th {
    padding: 1.5%;
}

.teamscore-list-data {
    width: 100%;
}

.teamscore-list-data-day-name {
    text-align: left;
}

.teamscore-list-data-team,
.teamscore-list-data-team-score {
    text-align: center;
}

.weather {
    display: flex;
    width: 92%;
    flex-direction: column;
    justify-content: center;
}

.weather-info {
    display: inline-flex;
    margin: 1.5% 2% 0% 2%;
    width: 60%;
}

.weather-info-title {
    width: 50%;
    margin: 0% 0% 0% 10%;
}

.weather-info-today {
    display: flex;
    margin: 0% 0% 0% 1%;
    align-items: center;
    width: 50%;
}

.website-logo {
    width: 75%;
    height: 75%;
}

.weather-info-today div {
    font-size: 1.2em;
}

.weather-weekly-info {
    display: flex;
    margin: 0% 0% 0% 2%;
    width: 100%;
    justify-content: space-between;
}

.weather-weekly-info div {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    align-items: center;
}

.weather-weekly-info img {
    width: 9em;
}

.latest-news {
    float: left;
    margin: 0% 2% 0% 2%;
    text-align: justify;
}

.latest-news-image {
    float: left;
    width: 12%;
    object-fit: cover;
    margin: 0% 1% 0% 0%;
}

.latest-news-item {
    margin: 0% 0% 4% 0%;
}

.latest-news-item div {
    margin: 2% 0% 2% 0%;
}

.footer {
    display: flex;
    border-top-style: outset;
    border-bottom-style: outset;
    margin: 0% 2% 0% 2%;
    justify-content: space-between;
    padding: 1% 4% 1% 4%;
}

/* mobile display */

@media only screen and (max-width: 600px) and (min-width: 150px) {
    .header {
        width: 100%;
    }
    .breaking-news img {
        vertical-align: middle;
        object-fit: cover;
    }
    .breaking-news {
        width: 60%;
    }
    .breaking-news-msg {
        width: 93%;
        height: 50%;
        display: flex;
        font-size: 50%;
        flex-wrap: wrap;
        opacity: 0.5;
        color: #f1f1f1;
    }
    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-list {
        display: none;
    }
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .breaking-news {
        width: 100%;
        height: 50%;
    }
    .topnews {
        width: 100%;
    }
    .teamscore-list {
        width: 100%;
    }
    .weather {
        width: 100%;
        flex-wrap: nowrap;
        align-self: left;
    }
    .latest-news-section {
        width: 100%;
    }
    .weather-weekly-image {
        width: 6%;
    }
    .weather-weekly-info {
        width: 90%;
        justify-content: space-around;
    }
    .weather-weekly-info img {
        width: 3.1em;
    }
    .weather-info div {
        width: 100%;
    }
    .teamscore-list-head {
        background: slategray;
    }
    .teamscore-list-alternative-row {
        background: lightsteelblue;
    }
    .footer {
        width: 100%;
    }
}

/* tablet display */

@media only screen and (max-width: 800px) and (min-width:600px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .menu-list {
        width: 100%;
    }
    .breaking-news {
        width: 50%;
        margin: 0% 0% 0% 3%;
    }
    .breaking-news-msg {
        width: 93%;
        font-size: 60%;
        background: rgba(0, 0, 0);
        opacity: 0.5;
        color: #f1f1f1;
    }
    .topnews {
        width: 100%;
    }
    .teamscore-list {
        width: 100%;
    }
    .weather {
        position: absolute;
        display: flex;
        margin: 6% 0% 0% 0%;
        width: 50%;
        height: 60%;
        right: 0%;
    }
    .latest-news-section {
        width: 100%;
    }
    .weather-weekly-image {
        width: 6%;
    }
    .weather-weekly-info {
        width: 90%;
        justify-content: space-around;
    }
    .weather-weekly-info img {
        width: 3.1em;
    }
    .weather-info div {
        width: 100%;
    }
    .teamscore-list-head {
        background: slategray;
    }
    .teamscore-list-alternative-row {
        background: lightsteelblue;
    }
    .footer {
        width: 100%;
    }
    .header {
        width: 100%;
    }
}

body {
    max-width: 1024px;
    margin: 0 auto;
    float: none;
}

